// Fuentes
$fuentePrincipal: 'Roboto', sans-serif;

// Colores
$primario: #e8505b;
$secundario: #455a64; 
$negro: #000;
$blanco: #FFFFFF;
$grisClaro: #eceeef;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$tablet-xl: 880px;
$desktop: 1024px;

$separacion: 5rem;